# PyCity Schools Analysis

- Your analysis here
  
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [3]:
# Calculate the total number of students
student_count = school_data_complete["Student ID"].count()
student_count

39170

In [4]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
                                "Total Schools": [school_count],
                                "Total Students": [student_count],
                                "Total School Budget": [total_budget],
                                "Average Math Score": [average_math_score],
                                "Average Reading Score": [average_reading_score],
                                "% Students Passing Math": [passing_math_percentage],
                                "% Students Passing Reading": [passing_reading_percentage],
                                "% Students Passing Both Math & Reading": [overall_passing_rate]})
print(district_summary.shape)
district_summary.head()

(1, 8)

,Total Schools,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Students Passing Math,% Students Passing Reading,% Students Passing Both Math & Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [11]:
print(school_data_complete.shape)
school_data_complete.head(3)

(39170, 11)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635

## School Summary

In [12]:
# Use the code provided to select all of the school types
school_types = school_data_complete.groupby(["school_name"]).max()["type"]
school_types

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [13]:
# Calculate the total student count per school
school_data_complete["school_name"].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [14]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data_complete.set_index(["school_name"])["budget"]
per_school_capita = per_school_budget
per_school_capita

school_name
Huang High School     1910635
Huang High School     1910635
Huang High School     1910635
Huang High School     1910635
Huang High School     1910635
                       ...
Thomas High School    1043130
Thomas High School    1043130
Thomas High School    1043130
Thomas High School    1043130
Thomas High School    1043130
Name: budget, Length: 39170, dtype: int64

In [15]:
# Calculate the average test scores per school
per_school_math = school_data_complete.groupby(["school_name"])["math_score"].mean().to_frame("Average Math Score")
per_school_reading = school_data_complete.groupby(["school_name"])["reading_score"].mean().to_frame("Average Reading Score")
per_school_math, per_school_reading

(                       Average Math Score
 school_name
 Bailey High School              77.048432
 Cabrera High School             83.061895
 Figueroa High School            76.711767
 Ford High School                77.102592
 Griffin High School             83.351499
 Hernandez High School           77.289752
 Holden High School              83.803279
 Huang High School               76.629414
 Johnson High School             77.072464
 Pena High School                83.839917
 Rodriguez High School           76.842711
 Shelton High School             83.359455
 Thomas High School              83.418349
 Wilson High School              83.274201
 Wright High School              83.682222,
                        Average Reading Score
 school_name
 Bailey High School                 81.033963
 Cabrera High School                83.975780
 Figueroa High School               81.158020
 Ford High School                   80.746258
 Griffin High School                83.816757
 Hernandez High School              80.934412
 Holden High School                 83.814988
 Huang High School                  81.182722
 Johnson High School                80.966394
 Pena High School                   84.044699
 Rodriguez High School              80.744686
 Shelton High School                83.725724
 Thomas High School                 83.848930
 Wilson High School                 83.989488
 Wright High School                 83.955000)

In [16]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[school_data_complete['math_score']>=70].groupby(['school_name']).size()
percent_passing_math = (students_passing_math/student_count)*100
print(passing_math_percentage)

74.9808526933878

In [17]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[school_data_complete['reading_score']>=70].groupby(['school_name'])
school_students_passing_reading = ('students_passing_reading/student_count')*100
print(passing_reading_percentage)

85.80546336482001

In [18]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [19]:
# Use the provided code to calculate the passing rates
per_school_students_passing_math = ('students_passing_math/school_data') * 100
per_school_students_passing_reading = ('school_students_passing_reading/school_data') * 100
overall_passing_rate = ('school_students_passing_math_and_reading/school_data') * 100
overall_passing_rate

'school_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_data'

In [20]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
                                "Total Schools": [school_count],
                                "Total Students": [student_count],
                                "Total School Budget": [total_budget],
                                "Average Math Score": [average_math_score],
                                "Average Reading Score": [average_reading_score],
                                "% Students Passing Math": [passing_math_percentage],
                                "% Students Passing Reading": [passing_reading_percentage],
                                "% Students Passing Both Math & Reading": [overall_passing_rate]})

per_school_summary.head(5)

,Total Schools,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Students Passing Math,% Students Passing Reading,% Students Passing Both Math & Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,school_students_passing_math_and_reading/schoo...

## Highest-Performing Schools (by % Overall Passing)

In [21]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values('% Students Passing Both Math & Reading', ascending=False).head(5)
top_schools

,Total Schools,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Students Passing Math,% Students Passing Reading,% Students Passing Both Math & Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,school_students_passing_math_and_reading/schoo...

## Bottom Performing Schools (By % Overall Passing)

In [22]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("% Students Passing Both Math & Reading").head(5)
bottom_schools

,Total Schools,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Students Passing Math,% Students Passing Reading,% Students Passing Both Math & Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,school_students_passing_math_and_reading/schoo...

## Math Scores by Grade

In [23]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]
math_scores_by_grade_df = pd.pivot_table(student_data, values='math_score', index='school_name', columns='grade', aggfunc='mean', fill_value=0)
math_scores_by_grade_df

grade                       10th       11th       12th        9th
school_name
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

## Reading Score by Grade

In [24]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

reading_scores_by_grade_df = pd.pivot_table(student_data, values='reading_score', index='school_name', columns='grade', aggfunc='mean', fill_value=0)
reading_scores_by_grade_df

grade                       10th       11th       12th        9th
school_name
Bailey High School     80.907183  80.945643  80.912451  81.303155
Cabrera High School    84.253219  83.788382  84.287958  83.676136
Figueroa High School   81.408912  80.640339  81.384863  81.198598
Ford High School       81.262712  80.403642  80.662338  80.632653
Griffin High School    83.706897  84.288089  84.013699  83.369193
Hernandez High School  80.660147  81.396140  80.857143  80.866860
Holden High School     83.324561  83.815534  84.698795  83.677165
Huang High School      81.512386  81.417476  80.305983  81.290284
Johnson High School    80.773431  80.616027  81.227564  81.260714
Pena High School       83.612000  84.335938  84.591160  83.807273
Rodriguez High School  80.629808  80.864811  80.376426  80.993127
Shelton High School    83.441964  84.373786  82.781671  84.122642
Thomas High School     84.254157  83.585542  83.831361  83.728850
Wilson High School     84.021452  83.764608  84.317673  83.939778
Wright High School     83.812757  84.156322  84.073171  83.833333

## Scores by School Spending

In [25]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [26]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [27]:
# Use `pd.cut` to categorize spending based on the bins.
per_school_summary["Per Student Budget"] = per_school_summary["Total School Budget"] / per_school_summary["Total Students"]
per_school_summary["Spending Ranges (Per Student)"] = pd.cut(per_school_summary["Per Student Budget"], spending_bins,)

In [31]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Students Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Students Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Students Passing Both Math & Reading"].mean()

TypeError: Could not convert school_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_data to numeric

In [32]:
# Assemble into DataFrame
spending_summary_df = pd.DataFrame({
          "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Students Passing Math": spending_passing_math,
          "% Students Passing Reading": spending_passing_reading,
          "% Students Passing Both Math and Reading": overall_passing_rate})
spending_summary_df

,Average Math Score,Average Reading Score,% Students Passing Math,% Students Passing Reading,% Students Passing Both Math and Reading
Spending Ranges (Per Student),78.985371,81.87784,74.980853,85.805463,school_students_passing_math_and_reading/schoo...

## Scores by School Size

In [33]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [53]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], 
                                              size_bins, labels=labels, 
                                              include_lowest=True)
per_school_summary

,Total Schools,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Students Passing Math,% Students Passing Reading,% Students Passing Both Math & Reading,Per Student Budget,Spending Ranges (Per Student),School Size
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,school_students_passing_math_and_reading/schoo...,629.293541,"(585, 630]",NaN

In [54]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Students Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Students Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Students Passing Both Math & Reading"].mean()

In [56]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
    "Average Math Score" : size_math_scores,
    "Average Reading Score" : size_reading_scores,
    "% Students Passing Math" : size_passing_math,
    "% Students Passing Reading" : size_passing_reading,
    "% Students Passing Both Math & Reading" : size_overall_passing
})
size_summary

,Average Math Score,Average Reading Score,% Students Passing Math,% Students Passing Reading,% Students Passing Both Math & Reading
School Size,,,,,
Small (<1000),NaN,NaN,NaN,NaN,NaN
Medium (1000-2000),NaN,NaN,NaN,NaN,NaN
Large (2000-5000),NaN,NaN,NaN,NaN,NaN

## Scores by School Type

In [58]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Students Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Students Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Students Passing Both Math & Reading"].mean()

TypeError: Could not convert school_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_dataschool_students_passing_math_and_reading/school_data to numeric

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary